* {
    margin: 0;
    padding: 0;
}

.body {
    background-color: aquamarine;
}

/* Estilo a la imagen animada */

.inicioH1 {
    font-size:40px;
    margin: 1rem;
    padding: 1rem;
}

.inicioParrafo {
    font-size:20px;
    margin: 1rem;
    padding: 1rem;
}

.inicioAnimacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.imagenAnimada {
    height: 400px;
    width: 400px;
    border: 3px solid black;
    background-image: url(../imagenes/Hombre\ gordo.png);
    transition: all 4s;
    border-radius: 6px;
}

.imagenAnimada:hover{
    background-image: url(../imagenes/Hombre\ flaco.png);

}
